* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#registerForm,
#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 10px 25px rgba(0, 0, 0, 0.08);
}

h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

label {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

input {
  font-size: 1.5rem;
  text-align: center;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  font-size: 1.2rem;
  background-color: #4f46e5;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #4338ca;
}

#message {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
