* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.EmployeeCard,
.DepartmentCard,
.StatsCard {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 5px;
  max-width: 300px;
  margin: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h2,
h3,
p {
  margin: 10px;
}
