* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
