/* body {
  background-color: #f0f0f0;
}

.employeeList tr:hover {
  background-color: white;
  cursor: pointer;
}

.searchContainer input {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  width: 40%;
  border: 1px solid #666;
  border-radius: 5px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.searchContainer select {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #666;
  border-radius: 5px;
  width: 9%;
  text-align: center;
}

.searchContainer button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #666;
  border-radius: 5px;
  cursor: pointer;
}

.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
} */
