body {
  background-color: #f0f0f0;
}

.employeeList tr:hover {
  background-color: white;
  cursor: pointer;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px 12px;
  font-size: 16px;
  width: 40%;
}
