/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.EmployeeStatusCard {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 250px;
}

.EmployeeStatusCard small {
  border-radius: 3px;
  padding: 3px;
  font-weight: bold;
}

.EmployeeStatusCard h2 {
  margin: 10px 0;
}

.EmployeeStatusCard span {
  border-radius: 3px;
  padding: 3px;
  font-weight: bold;
} */
