/* .employeesContainer {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 20px;
  margin: 20px;
}

.employeeContainer {
  padding: 10px;
  border: 1px solid #33333381;
  border-radius: 3px;
  font-size: 20px;
}

.employeeContainer h3 {
  text-align: center;
}

.btnContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btnContainer button {
  padding: 3px;
  font-size: 14px;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.formContainer h2 {
  text-align: center;
}

.formContainer label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.formContainer label span {
  width: 120px;
}

.formContainer input {
  flex: 1;
  padding: 6px;
  font-size: 16px;
}

.formContainer button {
  align-self: center;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.5rem;
}

.error404 a {
  margin-top: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

.error404 a:hover {
  text-decoration: underline;
} */
