/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 50px;
  width: 420px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.formContainer h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5px;
}

.formContainer label {
  font-size: 1.5rem;
}

.formContainer input {
  font-size: 1rem;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.formContainer button {
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
}

.formContainer .error {
  color: brown;
}

.checkBox {
  display: flex;
  gap: 5px;
} */
