/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.timeContainer {
  font-size: 3rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.btnContainer button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
} */
