/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.countDisplay {
  font-size: 4rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnContainer button {
  font-size: 1.5rem;
  padding: 5px 10px;
  background-color: mediumpurple;
  color: white;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.btnContainer button:hover {
  background-color: #a380e8;
}

.btnContainer button:disabled {
  cursor: not-allowed;
} */
