.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.formContainer h2 {
  text-align: center;
}

.formContainer label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.formContainer label span {
  width: 120px;
}

.formContainer input {
  flex: 1;
  padding: 6px;
  text-align: center;
  font-size: 16px;
}

.formContainer button {
  align-self: center;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
