/* div {
  min-height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.lightContainer {
  background-color: #ffffff;
  color: #000000;
}

.darkContainer {
  background-color: #121212;
  color: #ffffff;
}

.btn-container {
  display: flex;
  justify-content: center;
  min-height: 8vh;
}

button {
  font-size: 1.5rem;
  border: none;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
}

.lightBtn {
  background-color: #ffffff;
  color: #000000;
}

.darkBtn {
  background-color: #121212;
  color: #ffffff;
} */
